.header {
    width: 100%;
    background-color: #FFFFFF;
    border-bottom: 2px solid lightgray;
}

.header img {
    height: 70px;
    margin: 10px 10px 5px 10px;
}

.name {
    float: right;
    margin: 20px 15px 5px 15px;
    color: #fff;
}

.checkbox {
    columns: 1;
    display: inline-block;
}

.listGrid {
    display: grid;
}

.band {
    color: white;
    margin: 0px;
    padding: 5px;
    text-align: center;

}
