<li *ngFor="let dataObject of data">
    <a class="tooltip tooltip-new {{dataObject.type}}" 
    (click)="dataObject.opened = !dataObject.opened" href="#">
        {{ dataObject.label }}
        <span class="tooltiptext tooltip-sub">
            {{ dataObject.type | uppercase }}
            <br> <span *ngIf="dataObject.band_name">Band: {{dataObject.band_name}}</span>
        
        </span>
    </a>
    <ul app-tree [data]="dataObject.children" [class.inactive]="!dataObject.opened" *ngIf="dataObject.children"></ul>
</li>
