<li *ngFor="let dataObject of data">
    <a class="tooltip tooltip-new {{dataObject.type}}" (mouseover)="setHighlighted(dataObject.band_id)" (mouseleave)="setHighlighted(-1)" [ngStyle]="{
        'border' : getColour(dataObject),
        'background-color' : getHighlighted() === dataObject.band_id ? getBackgroundColour(dataObject) : (dataObject.is_important) ? getBackgroundColour(dataObject) : 'white',
        'color' :  getHighlighted() === dataObject.band_id ? 'white' : (dataObject.type === 'role' || dataObject.type === 'family') ? (dataObject.is_important) ? 'white' : 'black' : 'white',
        'font-weight': dataObject.is_important ? 'bold' : 'normal',
        'font-size': dataObject.is_important ? '13px' : '11px'
    }" [ngClass]="{'important': dataObject.is_important }" (click)="dataObject.opened = !dataObject.opened" href="#">
        {{ dataObject.label }}  <br> 
        <span *ngIf="dataObject.is_important">[Your current role]</span> <br>
        <input id=moreInfo (click)="onSelect(dataObject, $event)" type="image" src="https://image.flaticon.com/icons/png/512/51/51941.png">

      <span class="tooltiptext tooltip-sub">
            {{ dataObject.type | uppercase }}
        </span>
        <br>
    </a>
    <ul app-tree [data]="dataObject.children" [class.inactive]="!dataObject.opened" *ngIf="dataObject.children"></ul>
</li>
