/*Now the CSS*/
* {
	margin: 0;
	 padding: 0;
	 font-family: DINNextW01-Regular, arial, verdana, tahoma;

}

.page-container {
	display: flex;
	justify-content: space-between;
}

.tree-container {
	overflow: scroll;
	white-space: nowrap;
	width: 100%;
}

.tree {
	white-space: nowrap;
}

.tree ul {
	padding-top: 20px; position: relative;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;

}

.tree li {
	float: left; 
	text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;

	display: inline-block;
}

.capability-item {
	margin-left: 40px;
	list-style-type: none;
}

.filter-container {
	margin-left: 10px;
	border: 1px solid #ccc;
}

.filter-container .list-group {
	margin: 0px 0px 10px 10px;
	list-style: none;
}

.filter-container .filter-label {
	display: inline-block;
	margin: 10px 0px 0px 10px;
}

.placeholder {
	text-align: center;
	margin-top: 150px;
}

.placeholder .heading {
	color: #9d9d9d;
}

.placeholder .subheading {
	color: #9d9d9d;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 1px solid #ccc;
	width: 50%; height: 20px;
}
.tree li::after{
	right: auto; left: 50%;
	border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid #ccc;
	width: 0; height: 20px;
}

.tree li a{
	border: 1px solid #ccc;
	padding: 10px 15px;
	text-decoration: none;
	color: #666;
	font-size: 11px;
	display: inline-block;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
/* .tree li a:hover, .tree li a:hover+ul li a {
	background-image: linear-gradient(#417ABD, #00558C);
	color: #FFFFFF; 
	border: 1px solid #94a0b4;
} */

/* basic positioning */
.legendcontainer {z-index: -1;}
.legend { list-style: none; width: 120px; border:1px double lightgray; margin-right: 5px; z-index: -1;}
.legend li { margin: 10px 0px 10px 10px; z-index: -1;}
.legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; z-index: -1;}
/* your colors */
.legend .family { background-image: linear-gradient(#417ABD, #00558C); }
.legend .capability { background-image: linear-gradient(#95C11F, #90C365); }
.legend .role { background-image: linear-gradient(#EB595E, #E64360); }


.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
  
	/* Position the tooltip */
	position: absolute;
	z-index: 1000;
	top: -2px;
  }

  .tooltip:hover .tooltiptext {
	visibility: visible;
}

.tree li a.family:hover{
	background-image: linear-gradient(#417ABD, #00558C);
	color: #FFFFFF; 
	border: 1px solid #94a0b4;
	/* visibility: visible;  */
}

.tree li a.capability:hover{
	background-image: linear-gradient(#95C11F, #90C365);
	color: #FFFFFF; 
	border: 1px solid #94a0b4;
}

.tree li a.role:hover{
	background-image: linear-gradient(#EB595E, #E64360);
	color: #FFFFFF; 
	border: 2px solid #94a0b4;

}
/*Connector styles on hover*/
.tree li a:hover+ul li::after, 
.tree li a:hover+ul li::before, 
.tree li a:hover+ul::before, 
.tree li a:hover+ul ul::before{
	border-color: rgba(0, 0, 0, 0.493);
	border-width: 3px;
}

.tree ul.inactive {
    display: none;
}