<ng-container *ngIf="show">
  <div class="detailFamily" *ngIf="selected == 'family' && family" [@EnterLeave]="'flyIn'">
    <div class="detailHeaderSectionFamily">
      <span class="hideButtonSection"><i class="hideButton material-icons" (click)="toggle()">arrow_forward</i>
      </span>
      <span class="detailTitle"> {{family.label}}</span>
    </div>

    <div class="actions" *ngIf="dataService.isViewingAsAdmin">
      <button id="deleteIcon" (click)="showRemoveFamilyDialog()" class="show"><i
          class="material-icons">delete</i>Delete Family</button>
    </div>
  </div>

  <div class="detail" *ngIf="selected == 'capability' && capability" [@EnterLeave]="'flyIn'">
    <div class="detailHeaderSectionCapability">
      <span class="hideButtonSection"><i class="hideButton material-icons" (click)="toggle()">arrow_forward</i>
      </span>
      <span class="detailTitle">{{capability.label}}</span>
    </div>

    <div class="actions" *ngIf="dataService.isViewingAsAdmin">
      <button id="deleteIcon" (click)="showRemoveCapabilityDialog()" class="show"><i
          class="material-icons">delete</i>Delete Capability</button>
    </div>

    <div *ngIf="capability_lead">
      <div class="capabilityLeadTitle">
        <h5>Lead</h5>
      </div>
      <hr class="line">
      <div class="capabilityLeadProfile">
        <img class="capabilityLeadPhoto" src="{{capability_lead.capability_lead_photo}}" alt="Capability Lead Photo" />
        <br>
        <div class="capabilityLeadName">{{capability_lead.user_full_name}}</div>
      </div>
      <hr class="line" />
      <span class="description">{{capability_lead.capability_lead_message}}</span>
    </div>
  </div>

  <div class="detailRole" *ngIf="selected == 'role' && role" [@EnterLeave]="'flyIn'">
    <div class="detailHeaderSectionRole">
      <span class="hideButtonSection"><i class="hideButton material-icons" (click)="toggle()">arrow_forward</i>
      </span>
      <span class="detailTitle"> {{role.role_name}}</span>
    </div>

    <div class="actions" *ngIf="dataService.isViewingAsAdmin">
      <button id="deleteIcon" (click)="showRemoveRoleDialog()" class="show"><i class="material-icons">delete</i>Delete
        Role</button>
    </div>

    <div class="detailBody">
      <div class="capabilityLeadTitle">
      <h5 class="detailSubtitle">Responsibilities</h5>
      </div>
      <hr class="line">
      <div class="roleDescription">
        <ul>
          <li *ngFor="let descriptionPoint of role_description">{{descriptionPoint}}</li>
        </ul>
      </div>
      <hr class="line">
      <div class="capabilityLeadTitle" *ngIf="showRoleSpec">
        <span class="descriptionRole"> <a href="{{role.role_spec}}">{{role.role_name}} Specification</a></span>
      </div>
    </div>

    <hr class="line">
    <span class="descriptionRole">{{role.role_description}}</span>
    <hr class="line">
    <span class="descriptionRole"> {{role.role_spec}}</span>
  </div>
</ng-container>