<div class="content">
  <span>ADD</span>
  <div>
    <p>
      <label class="btn" for="modal-1">Add</label>
    </p>
  </div>
</div>


<input class="modal-state" id="modal-1" type="checkbox"/>
<div class="modal">
  <label class="modal__bg" for="modal-1"></label>
  <div class="modal__inner">
    <label class="modal__close" for="modal-1"></label>
    <fieldset>
      <legend>ADD</legend>

      <h4>What would you like to add?</h4>
      <mat-form-field>
        <mat-select [(value)]="selected" matNativeControl required>
          <mat-option [value]="option" *ngFor="let option of options">{{option}}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- <div *ngIf="selected === 'Role'">
              <form (ngSubmit)="addFamily(addForm)" #addForm="ngForm">
                      <br>
                      <strong><span style="color: red;" *ngIf="addForm.hasError('required', 'email')">*</span>Role</strong>
                      <div><input [(ngModel)]="newFamily.family_name" name="name" placeholder="Name"></div>
                      <div style="color: red;" *ngIf="addForm.hasError('checkname', 'name')">Please input a valid Job Family name</div>

                      <br>
                      <input type="submit" for="modal-2" [disabled]="!addForm.valid">

                  </form>
      </div>

      <div *ngIf="selected === 'Band'">
              <form (ngSubmit)="addFamily(addForm)" #addForm="ngForm">
                      <br>
                      <strong><span style="color: red;" *ngIf="addForm.hasError('required', 'email')">*</span>Band</strong>
                      <div><input [(ngModel)]="newFamily.family_name" name="name" placeholder="Name"></div>
                      <div style="color: red;" *ngIf="addForm.hasError('checkname', 'name')">Please input a valid Job
                          Family
                          name</div>
                      <br>
                      <input type="submit" for="modal-2" [disabled]="!addForm.valid">

                  </form>
      </div>

      <div *ngIf="selected === 'Capability'">
              <form (ngSubmit)="addFamily(addForm)" #addForm="ngForm">
                      <br>
                      <strong><span style="color: red;" *ngIf="addForm.hasError('required', 'email')">*</span>Capability</strong>
                      <div><input [(ngModel)]="newFamily.family_name" name="name" placeholder="Name"></div>
                      <div style="color: red;" *ngIf="addForm.hasError('checkname', 'name')">Please input a valid Job Family name</div>
                      <br>
                      <input type="submit" for="modal-2" [disabled]="!addForm.valid">

                  </form>
      </div> -->
      <div *ngIf="selected === 'Job Family'">
        <form (ngSubmit)="addFamily(addForm)" #addForm="ngForm">
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Job Family Name</mat-label>
              <input id="familyInput" matInput (input)="detectInput()" [(ngModel)]="newFamily.family_name" placeholder="Name of job family"
                     [formControl]="family_name" required>
              <mat-error *ngIf="family_name.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
          <span class="error" *ngIf="serverError != ''">{{serverError}}</span>
          <div>
            <button mat-flat-button input type="submit" [disabled]="!family_name.valid">Submit
            </button>
          </div>
        </form>
      </div>
    </fieldset>

    <div class="alert success" *ngIf="showSuccess" [@fadeInOut]>
      <strong>Successfully added</strong>
    </div>
  </div>
</div>
